#content {
    width: 90%;
    padding: 30px 0 150px 0;
    }
p {
    clear: both;
}
img {
    width: 100%;
    height: auto;
}
.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.logo {
    width: 20%;
}
nav > ul > li {
    padding: 0;
    font-size: 1.2em;
}
	
